@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
   --color-light-50: #f8fafc;

   --color-dark-58: #797984;
   --color-dark-100: #312d37;
   --color-dark-900: #000;

   --color-pink-50:  #fbc2eb;
   --color-pink-100: #a6c1ee;
   --color-pink-200: #EE82EE;

   --color-gradient: linear-gradient(90deg,var(--color-pink-50),var(--color-pink-100),var(--color-pink-200))
}

 * {
   font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 #container {
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #login_form {
    background-color: var( --color-light-50);
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0.336);
    height: fit-content;
 }

 #form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 #form_header h1 {
    font-size: 40px;
    position: relative;
 }

 #form_header h1::before {
    position:absolute;
    content: '';
    width: 40%;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom: 10%;
    border-radius: 5px;
 }

#mode-icon {
    cursor: pointer;
    font-size: 20px;
 }

#social_media {
    display: flex;
    justify-content: space-around;
 }

 #social_media a img {
    width: 40px;
 }

 #social_media a img:hover {
    transform: scale(1.2);
 }

 #inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }

 .input-box label {
    font-size: 14px ;
    color: var(--color-dark-900);
 }
 .input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-pink-50);
 }

 .input-field i {
    font-size: 18px;
    color: var(--color-dark-900);
 }

.input-field input {
    border: none;
    background-color: transparent;
    width: 100%; /* Agora ocupa 100% do espaço disponível */
    font-size: 18px;
    padding: 0px 0px;
 }

 .input-field {
    /* Remova a largura fixa daqui também se tiver */
    width: 100%;
 }

.input-field input:focus {
    outline: none;
}

/* Forgot password */
#forgot_password a:hover{
    text-decoration: none;
    font-size: 12px;
    color: var(--color-pink-50);
}
 /* Login Button*/
 #login_button {
    border: none;
    background: var(--color-gradient);
    color: #FFFF;
    padding: 7px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
 }

 #login_button:hover {
    transform: scale(1.05);
 }
 
#login_form.dark {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark-background 0.3s ease-in-out;
}

#login_form.dark .input-field input,
#login_form.dark .input-field i {
    color: var(--color-light-50);
}


@keyframes dark-to-light-background {
    0% {
        background-color:var(--color-dark-100);
    }
    100.0% {
        background-color:var(--color-light-50);
    }
}

@keyframes light-to-dark-background {
    0% {
        background-color:var(--color-light-50);
    }
    100.0% {
        background-color:var(--color-dark-100); 
    }
}


